h2
  {
   color:#00FFEF;
   /*#360CCC #FF007C
   #4B0082
   #00009C
   *#00008B
   #00008B*/
   font-family:Monotype Corsiva;
  }

 #htype1
  {
   color:#ff4040;
    /*#FF2800
     #FD0E35 #FF0038 #FF007C #F70D1A #FF0000 #FF0090 #FF0800; */
   font-family:Monotype Corsiva;
   font-size:25px;
  } 

#htype2
  {
   color:#000000;
   font-family:Monotype Corsiva;
   font-size:25px;
  } 
 
.carousel slide
{
	margin-top: 0;
      margin-bottom: 0;
}  
.carousel-inner > .item > img
{
	  position: relative;
	  width: 100%;
      height: 600px;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
}  
  
  
/* Hide the carousel text when the screen is less than 600 pixels wide 
  @media (max-width: 600px)
    {
      .carousel-caption 
       {
        display: none; 
       }
    }*/