input, select
  {
    color:black;
  }
  
  .table th, .table td
  {
  border: #800040 solid 1px !important;
  text-align:center;
  }
  
  th
  {
   cursor:pointer;
   text-align:center;
   font-size: 20px;
   background-color: #EFBBCC
   /* #92A1CF; */
  }
  
  tr
  {
  font-size: 15px;
  }
  
.arrow-up
  {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
 }

.arrow-down
{
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  display: inline-block;
}